* {
    font-family: 'Lucida Grande', 'Calibri', Helvetica, Arial, sans-serif;
}
body {
    background-color: #F5F5F5;
    background-image: url('../img/bg.jpg');
    background-repeat: repeat;
    max-width: 1170px;
    margin: 0 auto;
    padding-top: 20px;
    font-size: 24px;
    font-weight: 300;
    text-align: center;
}

.main {
    width: 500px;
    margin: 0 auto;
}